<mat-grid-list *ngIf="!action" cols="2" rowHeight="fit" gutterSize="10">
  <mat-grid-tile *ngFor="let key of keys; index as i">
    <button mat-button (click)="selectCategory(i)">
      <div class="button-contents">
        <img *ngIf="actions[i]?.image" src="{{ actions[i]?.image }}" width="100%" height="100%">
        <h1>{{ key }}</h1>
      </div>
    </button>
  </mat-grid-tile>
</mat-grid-list>
<category *ngIf="action?.actions" [config]="action.actions" (lastSelected)="closeSelected($event)"></category>